
body {
	margin: 0 auto;
	width: 900px;
	padding: 40px;
	font-size: 18px;

}

a:link {
  color: #0d592b;
  text-decoration: none;
}

a:visited {
	color: #0d592b;
}

a:hover {
  color: hotpink;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#headshot {
  float:left;
  padding-right: 6px;
}

hr {
	border-top: 1px solid gray;
}

.column {
  float: left;
  width: 45%;
  padding: 5px;
}

